body {
  font-size: 16px;
}

section article {
  max-width: 40%;
  text-align: justify;
  margin: 1%;
  float: left;
}

section aside {
  max-width: 23%;
  text-align: justify;
  float: right;
  margin: 1% 15% 3% 0;
}

p {
  text-indent: 5%;
}

div {
  width: 100%;
  display: inline-block;
  margin-left: 1%;
}

#style-section {
  width: 100%;
  display: inline-block;
}

button {
  margin-left: 10px;
}

input {
  border: 2px solid grey;
  border-radius: 5%;
}
