* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(42, 46, 46);
  color: aliceblue;
}

label {
  margin: 0.8rem 1rem;
}

input, option, select {
  outline: none;
  margin-left: 0.5rem;
}

input:focus, textarea:focus {
  background-color: rgb(201, 198, 198);
}

textarea {
  align-self: flex-start;
  margin: 0.8rem 1rem;
  outline: none;
}

button {
  margin: 0.3rem;
  padding: 0.1rem 1.5rem;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  justify-content: center;
}

#result {
  margin: 0.8rem 1rem;
}

p {
  padding-left: 0.5rem;
}
